@model ApiCargaWebInterface.ViewModels.JobCreated

@{
    ViewData["Title"] = "Created";
    ViewData["BodyClass"] = "fichaRecurso";
}

<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="header-resource">
                <div class="h1-container">
                    <h1>Tarea de sincronización creada</h1>
                </div>
            </div>
            <div class="contenido">
                <div class="grupo grupo-identificador">
                    <div class="identifier">
                        <p class="titulo">@Html.DisplayNameFor(model => model.Id)</p>
                        <p>@Html.DisplayFor(model => model.Id)</p>
                    </div>
                </div>
                <div class="grupo grupo-back">
                    <div class="back">
                        <p><a href="@Url.Action(null,"RepositoryConfig", new {  id=Model.RepositoryID  })">Volver al repositorio</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

