@model ApiCargaWebInterface.ViewModels.RepositoryConfigViewModel

@{
    ViewData["Title"] = "Edit";
    var modelo = new ApiCargaWebInterface.ViewModels.CreateJobViewModel();
    modelo.IdRepository = Model.RepositoryConfigID;
    var modeloShape = new ApiCargaWebInterface.ViewModels.ShapeConfigCreateModel();
    modeloShape.RepositoryID = Model.RepositoryConfigID;
    //modelo.FechaIinicio = DateTime.Now;
}

<h1>Edit</h1>

<h4>Config repository</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="RepositoryConfigID" class="control-label"></label>
                <input asp-for="RepositoryConfigID" class="form-control" readonly />
                <span asp-validation-for="RepositoryConfigID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OauthToken" class="control-label"></label>
                <input asp-for="OauthToken" class="form-control" />
                <span asp-validation-for="OauthToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <partial name="_CreateJob" model="@modelo" />
    <partial name="_CreateShape" model="@modeloShape"/>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

