@model ApiCargaWebInterface.ViewModels.UrisFactoryResultViewModel
@{

    ViewData["Title"] = "Uris";

    ViewData["BodyClass"] = "formulario";
}
<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="fieldset fieldset01">
                            <fieldset class="mediumLabels">
                                <h1>Descarga el esquema de uris</h1>
                                <p class="card-text">Obten el esquema de uris usado actualmente</p>
                                <a href="@Url.Action("DownloadSchema")">Descarguelo aquí</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="ReplaceSchema" method="post" enctype="multipart/form-data">
                            <div class="fieldset fieldset01">
                                <fieldset class="mediumLabels">
                                    <h1>Reemplazar el Esquema de uris</h1>
                                    <p class="card-text">Reemplaza el esquema de uris por otro esquema, puedes encontrar una plantilla en el siguiente enlace:</p>
                                    <a href="https://github.com/HerculesCRUE/GnossDeustoBackend/blob/master/UrisFactory/docs/20191211%20Esquema%20de%20URIs.json" class="card-link">plantilla de esquema</a>
                                    <div class="fieldsetContent">
                                        <div class="form-group">
                                            <label asp-for="New_Schema_File" class="control-label"></label>
                                            <input asp-for="New_Schema_File" class="form-control" />
                                            <span asp-validation-for="New_Schema_File" class="text-danger"></span>
                                        </div>
                                        <div class="fieldset actionButtons fieldset03">
                                            <fieldset>
                                                <p>
                                                    <input class="submit principal" type="submit" value="Reemplazar esquema">
                                                </p>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Details" method="get">
                            <div class="fieldset fieldset01">
                                <fieldset class="mediumLabels">
                                    <h1>Obtener una estructura de uris</h1>
                                    <p class="card-text">Obtner la información de configuración sobre un esquema de uris concreto</p>
                                    <div class="fieldsetContent">
                                        <div class="form-group">
                                            <label asp-for="Uri_Structure" class="control-label"></label>
                                            <input asp-for="Uri_Structure" class="form-control" />
                                            <span asp-validation-for="Uri_Structure" class="text-danger"></span>
                                        </div>
                                        <div class="fieldset actionButtons fieldset03">
                                            <fieldset>
                                                <p>
                                                    <input class="submit principal" type="submit" value="Obtener estructura">
                                                </p>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="fieldset fieldset01">
                            <fieldset class="mediumLabels">
                                <h1>Crea una estructura de uris</h1>
                                <p class="card-text">Crear una estructura de uris nueva</p>
                                <a href="@Url.Action("CreateStructure")">Agregar</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


