:root {
  --c-rojo: #af1a2e;
  --c-azul: #1565c0;
}

html, body { font-family: 'Roboto', sans-serif; font-size: 15px; color: #666; background: #eee; }

input,
textarea { font-family: 'Roboto', sans-serif; font-size: 15px; color: #666; }

:focus { outline-color: var(--c-rojo); }

a,a:link,a:visited { color: var(--c-rojo); }

img { max-width: 100%; }
/**/

.container-fluid > .navbar-header { margin-right: 70px; }

.navbar-default { height: 60px; background: var(--c-rojo); transition: transform .3s ease-in-out; border: none; border-radius: unset; }

.navbar-header,
.navbar-nav { height: 60px; display: flex; align-items: center; }

.navbar-header .navbar-brand { color: #fff; font-size: 21px; font-weight: 700; text-transform: uppercase; letter-spacing: .84px; white-space: nowrap; display: flex; align-items: center; }
.navbar-header .navbar-brand:hover { color: #fff; }
.navbar-header .navbar-brand:before { content: ''; display: inline-block; height: 32px; width: 32px; border-radius: 50%; border: 3px solid #fff; margin-right: 11px; }

.navbar-default .navbar-nav { list-style: none; margin: 0; padding: 0; display: flex; align-items: center; }
.navbar-default .navbar-nav > li { color: #FFF; font-weight: 300; font-size: 15px; }
.navbar-default .navbar-nav > li.active { font-weight: 400; }
.navbar-default .navbar-nav > li.active > a { opacity: 1; }
.navbar-default .navbar-nav > li > a { color: #fff; font-weight: inherit; text-decoration: none !important; opacity: 0.8; }
.navbar-default .navbar-nav > li > a:hover { color: #fff; font-weight: 400; opacity: 1; }

.container { background: #fff; padding: 49px 44px; min-height: calc(100vh - 220px); }
.row { margin: 0; }
h1 { font-size: 21px; font-weight: 500; color: #333; line-height: 25px; margin-top: 0; margin-bottom: 6px; }
p { font-size: 17px; font-weight: 300; color: #333; line-height: 20px; margin-bottom: 23px; }

.panel { border: 1px solid #f9edee; }
.panel-group .panel + .panel { margin-top: 10px; }
.panel-group .panel { border-radius: unset; }
.panel-default { border: none; }
.panel-default > .panel-heading { padding: 21px 24px; border-radius: unset; }
.panel-default > .panel-heading > .row { }
.panel-default > .panel-heading > .row > .col-md-11 { padding: 0; }
.panel-title { font-size: 15px; font-weight: 700; line-height: 19px; color: var(--c-rojo); margin-bottom: 6px; }
.panel-default .panel-heading p { font-size: 15px; font-weight: 400; color: #747474; line-height: 19px; margin: 0; }

.panel-default > .panel-heading + .panel-collapse > .panel-body { border: none; }

.panel-body { padding: 10px 0; }
.panel-info > .panel-heading { background-color: #f9edee; padding: 10px 24px; }
.panel-info > .panel-heading > .panel-title { font-weight: 600; margin: 0; }

.panel-collapse > .panel-body > .panel > .panel-body { padding: 11px 24px; }
.panel-collapse > .panel-body > .panel > .panel-body > p { font-size: 15px; font-weight: 400; color: #747474; }

.table { }
.table > thead > tr > th { font-size: 13px; font-weight: 500; color: #707070; line-height: 15px; text-transform: uppercase; padding: 0 19px 17px 0; border-bottom: 1px solid #ddd; }
.table > tbody > tr > td { font-size: 15px; font-weight: 400; color: #2a363c; padding: 17px 19px 17px 0; }
.table > tbody > tr > td > a { font-size: 15px; font-weight: 400; color: var(--c-rojo); line-height: 19px; }

@media (max-width: 1199px){
    .container-fluid > .navbar-header { margin-right: 0; }
}

/* FOOTER */

  #footer { margin-top: 38px; overflow: hidden; clear: both; width: 100%; }
  #footer .container-fluid,
  #footer .container { padding: 0; margin: 0; }
  #footer .container-fluid .row,
  #footer .container .row { position: relative; background: rgba(102, 99, 101, 0.49); padding: 16px 22px; margin: 0; }
  #footer .container-fluid .row > .col,
  #footer .container .row > .col { padding: 0; }
  #footer .container-fluid > .col,
  #footer .container > .col { float: left; }

  #footer .col-ministerio img,
  #footer .col-universidad img { height: 70px; }

  #footer .col-europa { display: flex; flex-wrap: wrap; align-items: center; text-align: right; }
  #footer .col-europa p { margin: 0; }
  #footer .col-europa a { text-decoration: none; }
  #footer .col-europa .presentacion { flex: 0 0 calc(100% - 96px); max-width: calc(100% - 96px); padding-right: 13px; }
  #footer .col-europa .presentacion .titulo { display: block; font-size: 18px; font-weight: 700; color: #fff; text-transform: uppercase; }
  #footer .col-europa .presentacion .subtitulo { display: block; font-size: 18px; font-weight: normal; font-style: italic; color: #fff; }

  @media (max-width: 767px){
    #footer .container-fluid .row,
    #footer .container .row { padding: 20px 41px; text-align: center; }

    #footer .col-ministerio,
    #footer .col-universidad { margin-bottom: 16px; }
    #footer .col-ministerio img,
    #footer .col-universidad img { width: 278px; }

    #footer .col-europa { display: block; text-align: center; }
    #footer .col-europa .presentacion { flex: 0 0 100%; max-width: 100%; padding-right: 0; padding-bottom: 16px; }
  }

/**/