@model ApiCargaWebInterface.ViewModels.PublishRepositoryModel
@{
    ViewData["Title"] = "Validar RDF";
    ViewData["BodyClass"] = "formulario";
}
<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <form asp-action="PublishRdf" method="post" enctype="multipart/form-data">
                <div class="fieldset fieldset01">
                    <fieldset class="mediumLabels">
                        <h1>Publicar un RDF</h1>
                        <div class="fieldsetContent">
                            <div class="form-group">
                                <div class="form-group" hiddden>
                                    <label asp-for="RepositoryId" class="control-label"></label>
                                    <input asp-for="RepositoryId" class="form-control" readonly />
                                    <span asp-validation-for="RepositoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="rdfPublish" class="control-label">RDF a publicar</label>
                                    <input type="file" for="rdfPublish" class="form-control" id="rdfPublish" name="rdfPublish" />
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Result))
                                {
                                    <p>@Model.Result </p>
                                }
                            </div>
                            <div class="fieldset actionButtons fieldset03">
                                <fieldset>
                                    <p>
                                        <input class="submit principal" type="submit" value="Publicar RDF">
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            <a href="@Url.Action("ValidarRdf", new {repository = Model.RepositoryId })"> &#60;-- Validar RDF</a>
        </div>
    </div>
</div>
