@model ApiCargaWebInterface.ViewModels.ShapeConfigCreateModel
    <div class="col-md-4">
        <h4>ShapeConfigCreateModel</h4>
        <hr />

        <form asp-action="Create" asp-controller="ShapeConfig" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepositoryID" class="control-label"></label>
                <input asp-for="RepositoryID" class="form-control" readonly />
                <span asp-validation-for="RepositoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapeFile" class="control-label"></label>
                <input asp-for="ShapeFile" class="form-control" />
                <span asp-validation-for="ShapeFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

