@model ApiCargaWebInterface.ViewModels.CreateRecurringJobViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateRecurringJobViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRepository" class="control-label"></label>
                <input asp-for="IdRepository" class="form-control" />
                <span asp-validation-for="IdRepository" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_job" class="control-label"></label>
                <input asp-for="Nombre_job" class="form-control" />
                <span asp-validation-for="Nombre_job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIinicio" class="control-label"></label>
                <input asp-for="FechaIinicio" class="form-control" />
                <span asp-validation-for="FechaIinicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CronExpression" class="control-label"></label>
                <input asp-for="CronExpression" class="form-control" />
                <span asp-validation-for="CronExpression" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExecuteInmediatly" /> @Html.DisplayNameFor(model => model.ExecuteInmediatly)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

