
input[type="checkbox"] + label:before {
    content: "";
    width: 26px;
    height: 26px;
    float: left;
    margin: 0.5em 0.5em 0 0;
    border: 2px solid #ccc;
    background: #fff;
}

input[type="checkbox"]:checked + label:before {
    border-color: #0fbf12;
}
input[type="checkbox"]:checked + label:after {
    content: "";
    width: 12px;
    height: 6px;
    border: 4px solid #0fbf12;
    float: left;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-weight: bold;
    line-height: 3em;
    color: #ccc;
}

input[type="checkbox"]:checked + label {
    color: #0fbf12;
}