@{
Layout = "_Layout";
ViewData["BodyClass"] = "fichaRecurso";
ViewData["Title"] = "Proyecto ASIO";
ViewData["MetaData"] = "<meta name=\"description\" content=\"Web pública del Proyecto Hércules ASIO de la Universidad de Murcia\">";
}
<div class="row">
	<div class="col col-12 col-lg-12 col-contenido">
		<div class="wrapCol">
				<h1>Sobre GnossDeustoBackend</h1>
				<p>?ste es el repositorio del proyecto H?rcules ASIO en el que se incluyen los siguientes programas y servicios</p>
				<ul>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/API_CARGA" target="_blank">API_CARGA:</a> 
						Servicio web que realiza las tareas de carga/configuraci?n.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/API_DISCOVER" target="_blank">API_DISCOVER:</a> 
						Servicio que realiza el descubrimiento de los RDF y su posterior publicaci?n.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/FrontEndCarga" target="_blank">FrontEndCarga:</a> 
						Interfaz web para la parte de Repository y Validation del API_CARGA
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/OAI_PMH_CVN" target="_blank">OAI_PMH_CVN:</a> 
						Servicio OAI-PMH para la obtenci?n de investigadores de la Universidad de Murcia.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/UrisFactory" target="_blank">UrisFactory:</a>
						Servicio que genera las uris de los recursos.		
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/cvn" target="_blank">cvn:</a> 
						Servidor HTTP que ofrece una API para convertir XML CVN a tripletas ROH.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/CronConfigure" target="_blank">CronConfigure:</a> 
						Servicio Web que realiza la creaci?n de tareas para la sincronizaci?n de un repositorio.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/GestorDocumentacion" target="_blank">GestorDocumentacion:</a> 
						 Servicio web para la creaci?n de p?ginas de contenido html y su posterior visualizaci?n en FrontEndCarga.
					</li>
					<li>
						<a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/IdentityServerHecules" target="_blank">IdentityServerHecules:</a> 
						Servicio encargada de gestionar y proporcionar los tokens de acceso a los diferentes apis.
					</li>
				</ul>

				<h2>Diagrama de componentes del proyecto:</h2>
				<img src="https://github.com/HerculesCRUE/GnossDeustoBackend/blob/master/img/diagrama_de_componentes.png?raw=true">
				<p>Todas las aplicaciones aqu? descritas pueden usarse de dos formas distintas:</p>
				<ul>
					<li>Como un API, instalando la aplicaci?n como se describe m?s abajo y llamando a su Endpoint.</li>
					<li>Como una <a href="https://github.com/HerculesCRUE/GnossDeustoBackend/tree/master/libraries" target="_blank">librer?a</a>, a?adiendo el ensamblado DLL a la soluci?n de c?digo fuente y usando las clases y m?todos definidos en ?l.</li>
				</ul>

				<h2>Configuraci?n e instalaci?n</h2>
				<p>Las <a href="https://github.com/HerculesCRUE/GnossDeustoBackend/blob/master/Configuraci%C3%B3n%20e%20Instalaci%C3%B3n.md" target="_blank">instrucciones de configuraci?n e instalaci?n</a> son el punto de partida para comenzar a usar los desarrollos de H?rcules ASIO</p>
		</div>
	</div>
</div>
