@model IEnumerable<ApiCargaWebInterface.ViewModels.ShapeConfigViewModel>

@{
    ViewData["Title"] = "Shapes";
    ViewData["BodyClass"] = "listado";
}


<div id="headerListado">
    <div class="col col01 col-md-3">
        <div class="h1-container">
            <h1>Shapes</h1>
            <span class="numResultados">( @Model.Count() )</span>
        </div>
    </div>
    <div class="container">
        <div class="row row-buscador">
            <div class="col col02 col-md-12">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="acciones-listado">
                <div class="wrap">

                </div>
            </div>
            <div class="resource-list compacView">
                <div class="wrap">
                    @foreach (var item in Model)
                    {

                        <article class="resource resource-ficharepositorio">
                            <div class="wrap">
                                <h2>
                                    <a href="@Url.Action("Details", new {  id=item.ShapeConfigID  })">@Html.DisplayFor(modelItem => item.Name)</a>
                                </h2>
                                <div class="desc">  
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

