@model ApiCargaWebInterface.ViewModels.ShapeConfigCreateModel


@{
    bool editar = Model != null && !Model.ShapeConfigID.Equals(Guid.Empty);
    string action = "Create";
    if (!editar)
    {
        ViewData["Title"] = "Crear shape";
    }
    else
    {
        ViewData["Title"] = Model.Name + " - Editar shape";
        action = "Edit";
    }
    ViewData["BodyClass"] = "formulario";
}
<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <form asp-action="@action" method="post" enctype="multipart/form-data">
                <div class="fieldset fieldset01">
                    <fieldset class="mediumLabels">
                        <h1>Crear shape</h1>
                        <div class="fieldsetContent">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p>
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </p>
                            <p hidden>
                                    <label asp-for="RepositoryID" class="control-label"></label>
                                    <input asp-for="RepositoryID" class="form-control" />
                                    <span asp-validation-for="RepositoryID" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="ShapeFile" class="control-label"></label>
                                <input asp-for="ShapeFile" class="form-control" />
                                <span asp-validation-for="ShapeFile" class="text-danger"></span>
                            </p>
                        </div>
                    </fieldset>
        </div>
        <div class="fieldset actionButtons fieldset03">
            <fieldset>
                <p>
                    <input class="submit principal" type="submit" value="Crear">
                </p>
            </fieldset>
        </div>
        </form>
    </div>

</div>
    </div>