@model ApiCargaWebInterface.ViewModels.CmsDataViewModel
@using CsvHelper
@using System.Globalization
@using System.IO
@using System.Text
@{
    Layout = "_Layout";
    ViewData["BodyClass"] = "tipo-documento";
    ViewData["SecondaryMenu"] = "<ul class=\"nav nav-tabs container\" id=\"myTab\" role=\"tablist\"> <li class=\"nav-item active\" role=\"presentation\"> <a class=\"nav-link\" id=\"seccion1-tab\" data-toggle=\"tab\" href=\"#seccion\" role=\"tab\" aria-controls=\"seccion\" aria-selected=\"true\">Datos disponibles</a> </li> <li class=\"nav-item\" role=\"presentation\"> <a class=\"nav-link\" id=\"seccion2-tab\" data-toggle=\"tab\" href=\"#seccion2\" role=\"tab\" aria-controls=\"seccion2\" aria-selected=\"false\">Descargas de datos</a> </li> <li class=\"nav-item\" role=\"presentation\">        <a class=\"nav-link\" id=\"seccion3-tab\" data-toggle=\"tab\" href=\"#seccion3\" role=\"tab\" aria-controls=\"seccion3\" aria-selected=\"false\">Ejemplos SPARQL</a> </li> <li class=\"nav-item\" role=\"presentation\"> <a class=\"nav-link\" id=\"seccion4-tab\" data-toggle=\"tab\" href=\"#seccion4\" role=\"tab\" aria-controls=\"seccion4\" aria-selected=\"false\">Métricas FAIR</a>    </li> </ul>";
}

<div id="contenido-principal">
    <div class="tab-content">
        <div class="tab-pane active" id="seccion" role="tabpanel" aria-labelledby="seccion-tab">
            <div class="row">
                <div class="col col-12">
                    <h1>Datos disponibles en Hércules ASIO</h1>
                    <p>
                        Como resultado del proyecto Hércules ASIO, los datos generados por la actividad investigadora de la Universidad de Murcia están disponibles en un grafo de conocimiento. Los datos de este grafo pueden consultarse mediante un SPARQL Endpoint, mientras que sus entidades y relaciones están accesibles como datos enlazados y abiertos (Linked Open Data). El RDF Store cuenta actualmente con:
                        <ul>
                            <li>
                                677
                                triples.
                            </li>
                            <li>
                                Datos de
                                9
                                investigadores.
                            </li>
                            <li>Información de 900 proyectos.</li>
                            <li>Información de resultados de investigación, como 10.000 libros o 60.000 conferencias</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-titulo">
                    <h2>Acceso a los volcados de datos</h2>
                </div>
                <div class="col col-12 col-md-6 col-imagen">
                    <div class="imagen"></div>
                </div>
                <div class="col col-12 col-md-6 col-texto">
                    <p>En esta sección estarán disponibles los enlaces para descargar los datos públicos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-titulo">
                    <h2>Ejemplos de consultas SPARQL</h2>
                </div>
                <div class="col col-12 col-md-6 col-texto">
                    <p>El SPARQL Endpoint público se encuentra disponible en la siguiente URL:</p>
                    <p><a href="http://155.54.239.204:8890/sparql>" http: //155.54.239.204:8890/sparql</a></p>
                    <p>
                        Se indican a continuación algunos ejemplos de consultas:
                        <ul>
                            <li>
                                <a href="http://155.54.239.204:8890/sparql?default-graph-uri=&amp;query=select+%3Fs+count%28%3Fo%29+as+%3Fatributos+from+%3Chttp%3A%2F%2Fgraph.um.es%2Fgraph%2Fum_sgi%3E%0D%0Awhere+%7B%3Fs+a+%3Chttp%3A%2F%2Fpurl.org%2Froh%2Fmirror%2Ffoaf%23Person%3E.%0D%0A%3Fs+%3Fp+%3Fo%0D%0A%7D%0D%0Aorder+by+DESC%28%3Fatributos%29%0D%0ALIMIT+100%0D%0A&amp;should-sponge=&amp;format=text%2Fhtml&amp;timeout=0&amp;debug=on&amp;run=+Run+Query+">Obtener los 100 investigadores con más atributos (más datos)</a>.
                            </li>
                            <li>
                                <a href="http://155.54.239.204:8890/sparql?default-graph-uri=&amp;query=select+*+from+%3Chttp%3A%2F%2Fgraph.um.es%2Fgraph%2Fum_sgi%3E%0D%0Awhere+%7B+%3Chttp%3A%2F%2Fgraph.um.es%2Fres%2Fperson%2F1602%3E+%3Fp+%3Fo%7D%0D%0A%0D%0A&amp;should-sponge=&amp;format=text%2Fhtml&amp;timeout=0&amp;debug=on&amp;run=+Run+Query+">Obtener los atributos de un investigador</a>.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col col-12 col-md-6 col-imagen">
                    <div class="imagen"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="seccion2" role="tabpanel" aria-labelledby="seccion2-tab">
            <div class="row">
                <div class="col col-12">
                    <h2>Seccion 2</h2>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="seccion3" role="tabpanel" aria-labelledby="seccion3-tab">
            <div class="row">
                <div class="col col-12">
                    <h2>Seccion 3</h2>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="seccion4" role="tabpanel" aria-labelledby="seccion4-tab">
            <div class="row">
                <div class="col col-12">
                    <h2>Seccion 4</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@functions{
    public class PruebaSparql
    {
        public int count { get; set; }
    }

    public class investigadoresSparql
    {
        public int cuentaInvestigadores { get; set; }
    }
}
