@model ApiCargaWebInterface.ViewModels.UrisFactoryResultViewModel
@{

        ViewData["Title"] = "Uris";

    ViewData["BodyClass"] = "formulario";
}
    <div class="row">
        <div class="col col-12 col-lg-12 col-contenido">
            <div class="wrapCol">
                <div class="col">
                    <form asp-action="GetUri" method="get">
                        <div class="fieldset fieldset01">
                            <fieldset class="mediumLabels">
                                <h1>Get Uri</h1>
                                <div class="fieldsetContent">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Resource_class" class="control-label"></label>
                                        <input asp-for="Resource_class" class="form-control" />
                                        <span asp-validation-for="Resource_class" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Identifier" class="control-label"></label>
                                        <input asp-for="Identifier" class="form-control" />
                                        <span asp-validation-for="Identifier" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="UriGetEnum" class="control-label">Tipo de dato</label>
                                        <select id="UriGetEnum" name="UriGetEnum" class="form-control">
                                            <option vale="0">Resource class</option>
                                            <option vale="1">Rdftype</option>
                                        </select>
                                        <span asp-validation-for="Identifier" class="text-danger"></span>
                                    </div>
                                    <div class="fieldset actionButtons fieldset03">
                                        <fieldset>
                                            <p>
                                                <input class="submit principal" type="submit" value="Obtener uri">
                                            </p>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>

                </div>
                @if (Model != null)
                {
                <h1>@Model.UriResult</h1>
                }
            <a href="@Url.Action("Schema")"><h1>Esquema de uris</h1></a>
            </div>
        </div>
    </div>


