@model string
@{
    ViewBag.Title = "Not found";
}
<h1 class="text-danger"><span class="glyphicon glyphicon-alert"></span> Not found :(</h1>
<h2>Path: <i>@Model</i></h2>
<p>This resource may have been moved or deleted. Be sure you check the identifier.</p>
<p>
    Contact the administrator if the problem persists or if you
    definitely can't find what you are looking for.
</p>
<p>Thank you!</p>

