.yasgui div.CodeMirror > div:first-child {
    overflow: hidden;
    position: relative;
    width: 3px;
    height: 0px;
    top: 109px;
    left: 49px;
}

.CodeMirror-sizer{
	margin-left: 44px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: -17px;
	border-right-width: 33px;
	min-height: 133px;
}

.CodeMirror-linenumbers{
	width: 29px;
}