@model ApiCargaWebInterface.ViewModels.CreateJobViewModel

@{
    ViewData["Title"] = "Crear tarea";
    ViewData["BodyClass"] = "formulario";
}

<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <form asp-action="Create">
                <div class="fieldset fieldset01">
                    <fieldset class="mediumLabels">
                        <h1>Crear tarea</h1>
                        <div class="fieldsetContent">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p hidden>
                                <label asp-for="IdRepository" class="control-label"></label>
                                <input asp-for="IdRepository" class="form-control" />
                                <span asp-validation-for="IdRepository" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="FechaIinicio" class="control-label"></label>
                                <input asp-for="FechaIinicio" class="form-control" />
                                <span asp-validation-for="FechaIinicio" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="FechaFrom" class="control-label"></label>
                                <input asp-for="FechaFrom" class="form-control" />
                                <span asp-validation-for="FechaFrom" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="Set" class="control-label"></label>
                                <input asp-for="Set" class="form-control" />
                                <span asp-validation-for="Set" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="CodigoObjeto" class="control-label"></label>
                                <input asp-for="CodigoObjeto" class="form-control" />
                                <span asp-validation-for="CodigoObjeto" class="text-danger"></span>
                            </p>

                            <h2>Datos obligatorios para crear una tarea recurrente</h2>
                            <p>
                                <label asp-for="Nombre_job" class="control-label"></label>
                                <input asp-for="Nombre_job" class="form-control" />
                                <span asp-validation-for="Nombre_job" class="text-danger"></span>
                            </p>
                            <p>
                                <label asp-for="CronExpression" class="control-label"></label>
                                <input asp-for="CronExpression" class="form-control" placeholder="* * * * *" />
                                <span asp-validation-for="CronExpression" class="text-danger"></span>
                                <label>Esta página es útil para validar expresiones cron: </label><a href="https://crontab.guru/">https://crontab.guru/</a>
                            </p>
                            
                        </div>
                    </fieldset>
                </div>
                <div class="fieldset actionButtons fieldset03">
                    <fieldset>
                        <p>
                            <input class="submit principal" type="submit" value="Crear tarea">
                        </p>
                    </fieldset>
                </div>
            </form>
        </div>

    </div>
</div>